@model IEnumerable<PoolandPatioCenter.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal a = 0;
}

<h2>Cart</h2>

<br />

@if (!Model.Any())
{
    <p>EMPTYt</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var CartItem in Model)
            {
                
                    a += CartItem.Products.Price;
                
                <tr>
                    <td>@CartItem.Products.Name</td>
                    <td>@CartItem.Products.Description</td>
                    <td>@CartItem.Products.Price</td>
                    <td><button id="@CartItem.Id" onclick="" class="btn btn-danger btn-sm deletebtn" type="submit">delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Total: @a.ToString()</h3>
}

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="CreditCard Number" aria-label="CreditCard Number" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Expiration Date" aria-label="Expiration Date" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="CCV" aria-label="CCV" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Validate</button>
    </div>
</div>



@section scripts{
    <script>

        $(".deletebtn").click(function () {
            var a = $(this);
            $.ajax({
                type: "DELETE",
                contentType: 'application/json; charset=utf-8',
                url: "https://localhost:44332/api/CartItems/" + a.attr("id"),
                dataType: 'jsonp',
                success: function (result) {
                    alert("Deleted ID:" + a.attr("id") + "to delete the row please refresh");
                    var b = a.parent("tr");
                    b.remove();

                },
                error: function () {
                    alert("error");
                }
            });



        })

    </script>





}